image: docker:24.0

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  AWS_DEFAULT_REGION: "ap-south-1"

stages:
  - build
  - deploy

before_script:
  - apk add --no-cache git python3 py3-pip bash
  - pip3 install --no-cache-dir awscli

build_react:
  stage: build
  script:
    # clone GitHub repo into /build-src
    - git clone https://github.com/<your-github-username>/<your-repo>.git /build-src
    - cd /build-src
    # build inside docker
    - docker build -t minor-project-react-build .
    # extract build output from nginx image path
    - docker create --name extract minor-project-react-build
    - docker cp extract:/usr/share/nginx/html ./build
    - docker rm -f extract
  artifacts:
    paths:
      - build/
    expire_in: 1 hour
  only:
    - main

deploy_to_s3:
  stage: deploy
  script:
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws configure set default.region $AWS_DEFAULT_REGION

    - aws s3 sync build/ s3://$S3_BUCKET_NAME --delete
    - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/*"
  only:
    - main
